<div>
  <br>
  <mat-card align="center">
    <img src="/assets/laptop.png">
    <h2> Are you a computer science student prepping for an interview?</h2>
    <h2 class="second">Would you like to review some topics?</h2>
    <h2 class="third">Do you want to add your own questions?</h2>
    <h2 class="last">If you answered yes to any of these, then you're in the right place</h2>
    <button mat-raised-button color="primary" routerLink="/create">Sign up</button>
    <br> <br>
    <button mat-raised-button color="accent" routerLink="/login">Log in</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
  </mat-card>
</div>
